.fight-div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 350px;
}

.fighters {
    display: flex;
    flex-direction: row;
}

.fighter {
    display: flex;
    flex-direction: column;
    height: 100px;
    width: 50%;
}